.section {
    scroll-margin-top: 151px;
}

#section1, #section3 {
    background-color: rgb(245, 240, 230);
}

#section2, #section4 {
    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    color: white;
}


.section-img {
    width: 100%
}

div {
    display: inline-block;
    width: 100%;
}

li {
    float: left
}

li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#navbar {
    background-color: white;
    position: sticky;
    top: 0;
    overflow: hidden;
    font-size: 28px; 
}

#navbar li a:hover {
    background-color: #182b49;
    color: white;
}

#navbar-logo {
    max-width: 400px;
}

p {
    font-size: 28px;
}

#col-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

#col-wrapper div {
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
}

@media screen and (max-width: 800px) {
    #navbar-links {
        display: none;
    }
     
    #navbar img {
        max-width: 75%;
    }

    h2 {
        font-size: 24px;
    }
    
    p {
        font-size: 20px;
    }

    #col-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

}


